*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #ffa69e;
}
/* navbar */
nav{
background-color:  black;
}
#navbrand{
  color: white;
  font-size: larger;
}
#navlink{
  color: white;
}
#navlink::after{
  content: '';
  width: 0%;
height: 2px;
background: #ffa69e;
display: block;
margin: auto;
transition: 0.5s;
}
#navlink:hover::after{
  width: 100%;
}
#dp{
  border-radius: 50%;
}

/* cards */
#main{
  margin-top: 100px;
}
#homecard{
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,.7)),url(./img/background.jpg);
}
#cv-card{
  border-style: solid;
  border-color: #f5f5f5;
  border-width: 3px;
  background-color: rgba(168, 173, 173, 0.212);
}
#cvdp-card{
  background-color: black;
  border-width: 5px;
  
}
#personal-card{
  background-color: black;
  border: 1px;
  border-color: transparent;
}
#work{
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(29, 30, 32, 0.452)),url(./img/pink.jpg);
  background-repeat: no-repeat;
}
#project-inner__card{
  background-color: transparent;
  border-color: transparent;
}
/* cards */

/* footer */
#contact{
  background-color: black;
}
#footer-text{
  color: white;
}
#contact{
  text-decoration: none;
  color: #ffa69e;
}
ion-icon {
  font-size: 40px;
}
#data{
  color: white;
}
.card-header{
  background-color: rgba(0, 0, 0, 0.274);
  color: white;
}
.blockquote-footer{
  background-color: rgba(24, 17, 17, 0.63);
  color: white;
}
#cvheader{
  background-color: black;
  color: white;
}
button{
  box-shadow: none;
}