*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
}

/* navbar */
nav{
background-color:  black;
}
#navbrand{
  color: #ffa69e;
  font-size: 18pt;
  font-family: Brush Script MT;
}
#navlink{
  color: white;
}
#navlink::after{
  content: '';
  width: 0%;
height: 2px;
background: #ffa69e;
display: block;
margin: auto;
transition: 0.5s;
}
#navlink:hover::after{
  width: 100%;
}
.navbar-toggler{
  background-color: #ffa69e3d;
}

/* main */
#main__container{
    margin-top: 60px;
}

/* home */
#home{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,.7)),url(./img/background.jpg);
}
#dp{
    border-radius: 50%;
}
#identity{
    background-color: wheat;
}

/* cv */
#cv-card{
  border-style: solid;
 background-color: white;
  border-width: 3px;
}
#cvdp-card{
  background-color: black;
  border-width: 5px;
  
}
#personal-card{
  background-color: black;
  border: 1px;
  border-color: transparent;
}
#project-inner__card{
  background-color: transparent;
  border-color: transparent;
}
#cvheader{
  background-color: black;
  color: white;
}

/* work */
#work{
   background-color: rgb(27, 65, 63);
}
.title{
    color: white;
}
#my__works{
   background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,.7)),url(./img/1-He-pbLG-OzhiX61uWofmdA-unscreen.gif);
}
#project__name{
  color: aliceblue;
}
#project__description{
  color:aliceblue;
}
#project__icon{
  color: #ffa69e;
  font-size: 100pt;
}
/* footer */
#contact{
  background-color: black;
}
#footer-text{
  color: white;
}
#contact{
  text-decoration: none;
  color: #ffa69e;
}
ion-icon {
  font-size: 40px;
}
#data{
  color: white;
}